body {
  background-color: gainsboro;
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
}
ul {
  
}

.navegador ul { 
  float: right;
  list-style-type: none;
  text-align: right;
  width: 40%;
  margin: 0 0 0 0;
  padding: 40px;
  background-color: transparent;
  
  
}
.navegador{
  opacity: 100%;
}
.navegador li {
  display: inline;
  
  
}

 .navegador li a {
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin: 12px;
  text-decoration: none;
}

.navegador li a:hover {
  background-color: #111;
  color: white;
  transition: all 0.8s ease;
}
.logo img{
  float: left;
  margin: 12px 0 0 50px;
  height:75px;
   
}
.barnav{
  overflow: hidden;
  background: #4A6687;
  opacity: 0.85;
  width: 100%;
  height: 100px;
  position: relative;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 700px){
  .barnav{
    opacity:1;
      height:80px
  }
  .navegador ul{  
    width: 230px;
    height: 50px;
    padding:30px;
    margin: 0 20px 0 0;
  }
     .navegador li a{
       font-size: 12px;
       text-align: center;
       padding: 18px;
       margin:1px;
       top: 0;
      
  }
  .navegador li{
    display: inline;
  }
  .logo{
    display: inline;
    width: 35%;
    height:20%;
  }
  .logo img{
    float: left;
    height:50px;
    margin: 12px 0 0 20px;
    
  }
}

  
}
.content {
  background-color: ;
  width: 100%;
  height: 100%;
  padding: 0 0 0 0px;
  top: 0;
  left:0;
    }

h1{
  font-family: roboto;
  color:#333333;
  font-size: 50px;
  font-weight: 900;
  padding: 0px 0 0px 0px; 
  margin: 50px 0 0 0;
}
.about1{
  display: inline-block;
  height: 410px;
  width: 55%;
  border-radius: 0px;
  margin: 20px 0 0 110px;
  }
.aboutext{

  
}
.hola{
  float: left;
  padding: 20px 0 0 10px;
}
.worklass{
  background-color: white;
  position: static;
  width: 100%;
  padding: 20px 0 40px 120px;
  left: ;
}
h2{
  font-family: roboto;
  color:#333333;
  font-size: 60px;
  font-weight: 900;
  padding: 0px 0 0 20px;
    margin: 40px 0 0px 0;
}  

.hov { transition: all .2s ease-in-out; 
}
.hov:hover { transform: scale(1.07); 
}
  h3{
    font-family: roboto;
    color:#333333;
    font-size: 40px;
    font-weight: 900;
    padding: 50px 0 0 20px;
    margin: 0 0 0 0;
    
  }


}
.contacto{
  margin:0 0 50px 120px;
  
}
p{
  font-family: roboto;
  color:#333333;
  font-size: 17.5px;
  line-height: 1.3;
  text-align: left;
  padding: 0 130px 0px 20px;
}

@media only screen and (max-width: 800px){
  .content {
    width: 100%;
    margin:0 0 0 0;
  }
  p{
    font-size:14px;
      padding:0 20px 0px 20px
  }
  
}
